@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1440px;

  --width-tablet: 640px;
  --width-laptop: 1024px;
  --width-desktop: 1440px;

  --max-width-tablet: 640px;
  --max-width-laptop: 1024px;
  --max-width-desktop: 1440px;

  --screen-pointer-fine: (pointer: fine);
  --screen-pointer-coarse: (pointer: coarse);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
